/* Hero */

.child-hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.card-img {
    display: block;
}   

/* Skills */

.child-skills .skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}