/* Header */

.nav {
    display: flex;
}

.nav-list {
    display: flex;
    gap: 20px;
}

.nav .nav-list .nav-item a:hover {
    color: var(--header-link-hover);
}

.card-theme:hover {
    background: var(--hover-icon-theme);
}

.menu-btn {
    display: none;
}