/* Header */

.nav {
    display: flex;
}

.nav-list {
    display: flex;
    gap: 20px;
}

.nav .nav-list .nav-item a:hover {
    color: var(--header-link-hover);
}

.card-theme {
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-theme:hover {
    background: var(--hover-icon-theme);
}

.menu-btn {
    display: none;
}

/* Hero */

.btn-project {
    transition: all 0.3s ease-in-out;
}

.btn-project:hover {
    background: var(--primary);
}

.btn-contact {
    transition: all 0.3s ease-in-out;
}

.btn-contact:hover {
    background: var(--hero-accent);
    color: var(--background);
}

/* About */

.child-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.about-card {
    padding: 10px;
    transition: all 0.3s ease;
}

.about-card:hover {
    transform: translateY(-10px);
    box-shadow:
        var(--shadow-1),
        var(--shadow-2),
        var(--shadow-3),
        var(--shadow-4);
    border: 2px solid var(--skills-hover-border);
}

/* Skills */

.child-skills .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.child-skills .skills-grid .skills-card {
    transition: all 0.3s ease;
}

.child-skills .skills-grid .skills-card:hover {
    transform: translateY(-20px);
    box-shadow:
        var(--shadow-1),
        var(--shadow-2),
        var(--shadow-3),
        var(--shadow-4);
    border: 2px solid var(--skills-hover-border);
}